.background {
    background: linear-gradient(to right, #0366A6,#000, #0366A6);
    background-size: 400% 400%;
    // animation: animate-backgroud 10s infinite ease-in-out;
    height: 100vh;

    .max-w-4xl {
        max-width: 66rem !important;
        
            .body-content {
                // margin: 50px;
                min-height: 600px;
                background-color: white;
            }
    }
}

@keyframes animate-backgroud {
    0% {
        background-color: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}