.background {
    background: linear-gradient(to right, #0366A6,#000, #0366A6);
    background-size: 400% 400%;
    // animation: animate-backgroud 10s infinite ease-in-out;
    height: 100vh;

    .body-content {
        // margin: 50px;
        min-height: 500px;
        background-color: white;
    }
}

@keyframes animate-backgroud {
    0% {
        background-color: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}