<div class="relative flex flex-col w-full h-full">
    <!-- Content -->
    <div
        class="flex flex-col sm:flex-row flex-auto items-center sm:items-start p-8 pb-6 sm:pb-8"
    >
        <ng-container>
            <div
                class="flex flex-col items-center sm:items-start mt-4 sm:mt-0 space-y-1 text-center"
            >
                <!-- TITLE -->
                <ng-container>
                    <div
                        class="text-xl leading-6 font-medium"
                        style="width: 100% !important"
                    >
                        <h1>Two-factor authentication</h1>
                    </div>
                </ng-container>

                <!-- CODE -->
                <ng-container>
                    <form
                        [formGroup]="authForm"
                        name="authForm"
                        class="form__group form__pincode"
                        style="margin-top: 50px !important"
                    >
                        <label
                            >Enter 6-digit code from your authenticator
                            application</label
                        >
                        <input
                            #input1
                            (input)="onInput('input2')"
                            (keydown)="onKeyDown($event, 1)"
                            type="tel"
                            name="pincode-1"
                            maxlength="1"
                            pattern="[\d]*"
                            tabindex="1"
                            placeholder="·"
                            autocomplete="off"
                            formControlName="number1"
                        />
                        <input
                            #input2
                            (input)="onInput('input3')"
                            (keydown)="onKeyDown($event, 2)"
                            type="tel"
                            name="pincode-2"
                            maxlength="1"
                            pattern="[\d]*"
                            tabindex="2"
                            placeholder="·"
                            autocomplete="off"
                            formControlName="number2"
                        />
                        <input
                            #input3
                            (input)="onInput('input4')"
                            (keydown)="onKeyDown($event, 3)"
                            type="tel"
                            name="pincode-3"
                            maxlength="1"
                            pattern="[\d]*"
                            tabindex="3"
                            placeholder="·"
                            autocomplete="off"
                            formControlName="number3"
                        />
                        <input
                            #input4
                            (input)="onInput('input5')"
                            (keydown)="onKeyDown($event, 4)"
                            type="tel"
                            name="pincode-4"
                            maxlength="1"
                            pattern="[\d]*"
                            tabindex="4"
                            placeholder="·"
                            autocomplete="off"
                            formControlName="number4"
                        />
                        <input
                            #input5
                            (input)="onInput('input6')"
                            (keydown)="onKeyDown($event, 5)"
                            type="tel"
                            name="pincode-5"
                            maxlength="1"
                            pattern="[\d]*"
                            tabindex="5"
                            placeholder="·"
                            autocomplete="off"
                            formControlName="number5"
                        />
                        <input
                            #input6
                            (input)="onInput('input1')"
                            (keydown)="onKeyDown($event, 6)"
                            type="tel"
                            name="pincode-6"
                            maxlength="1"
                            pattern="[\d]*"
                            tabindex="6"
                            placeholder="·"
                            autocomplete="off"
                            formControlName="number6"
                        />
                    </form>
                </ng-container>
            </div>
        </ng-container>
    </div>

    <!-- Actions -->
    <ng-container>
        <div
            class="flex items-center justify-center sm:justify-end px-6 py-4 space-x-3 bg-gray-50 dark:bg-black dark:bg-opacity-10"
        >
            <!-- Cancel -->
            <ng-container>
                <button mat-stroked-button (click)="onClose()">Cancelar</button>
            </ng-container>

            <!-- Confirm -->
            <ng-container>
                <button
                    mat-flat-button
                    [disabled]="!authForm.valid"
                    (click)="login()"
                >
                    Confirmar
                </button>
            </ng-container>
        </div>
    </ng-container>
</div>
