<form class="custom-padding bg-card overflow-hidden" [formGroup]="authForm">
    <mat-horizontal-stepper [linear]="true" #horizontalStepper>
        <mat-step
            [formGroupName]="'step1'"
            [stepControl]="authForm.get('step1')"
        >
            <p class="text">
                <b>Step 1:</b> Download the Google Authenticator app on your
                mobile device. You can use any other authentication application.
            </p>

            <a href="http://onelink.to/642j7a" target="_blank">
                <img
                    class="authenticator"
                    src="assets/images/authenticator/test.png"
                />
            </a>

            <a href="http://onelink.to/642j7a" target="_blank">
                <img
                    class="getit"
                    src="assets/images/authenticator/getit-icon.png"
                />
            </a>

            <div class="flex justify-end mt-4">
                <button
                    class="mt-8"
                    mat-flat-button
                    [color]="'primary'"
                    type="button"
                    matStepperNext
                    class="button next"
                >
                    Next
                </button>
            </div>
        </mat-step>
        <mat-step
            [formGroupName]="'step2'"
            [stepControl]="authForm.get('step2')"
        >
            <p class="text">
                <b>Step 2:</b> Scan the following QR code using the Google
                Authenticator app or your preferred authentication application.
            </p>

            <img class="img" [src]="data?.qrcode" />

            <div class="flex justify-end mt-4">
                <button
                    class="px-8 mr-2"
                    mat-flat-button
                    [color]="'accent'"
                    type="button"
                    matStepperPrevious
                >
                    Back
                </button>
                <button
                    class="px-8"
                    mat-flat-button
                    [color]="'primary'"
                    type="button"
                    matStepperNext
                    class="button"
                >
                    Continue
                </button>
            </div>
        </mat-step>
        <mat-step
            [formGroupName]="'step3'"
            [stepControl]="authForm.get('step3')"
        >
            <p class="text">
                <b>Step 3:</b> Enter the 6-digit code displayed in the
                application.
            </p>

            <ng-container>
                <form
                    name="authForm"
                    class="form__group form__pincode"
                    style="height: 65px !important; margin-top: 115px"
                    [formGroup]="authForm.get('step3').get('code')"
                >
                    <input
                        #input1
                        type="tel"
                        name="pincode-1"
                        maxlength="6"
                        pattern="[\d]*"
                        tabindex="1"
                        placeholder="·"
                        autocomplete="off"
                        formControlName="code"
                        [ngClass]="{ 'not-valid': !isCodeValid }"
                    />
                </form>
            </ng-container>

            <div style="margin-top: 122px" class="flex justify-end">
                <button
                    class="px-8 mr-2"
                    mat-flat-button
                    [color]="'accent'"
                    type="button"
                    matStepperPrevious
                >
                    Back
                </button>
                <button
                    class="px-8"
                    mat-flat-button
                    [color]="'primary'"
                    type="button"
                    matStepperNext
                    class="button"
                    (click)="onVerifyOtp()"
                >
                    Setup
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</form>
