.mat-option-text {
    background-color: red !important;
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
}

.currency-option {

    .currency-text {
        width: 95% !important;
    }

    .currency-symbol {
        display: flex;
        width: 5%;
        font-weight: bold;
        justify-content: flex-end;
        margin-right: 10px;
    }
    
    .currency-flag {
        max-width: 30px !important;
        max-height: 30px !important;
    }
}
