<form [formGroup]="settingsForm">

    <mat-form-field appearance="outline" floatLabel="always" class="w-full">
        <mat-label>Email address</mat-label>
        <mat-select name="currency" formControlName="currency" required>
            <mat-select-filter
                placeholder="Buscar"
                (searchValueOutput)="onFilterCurrency($event)"
                #currenciesFilter>
            </mat-select-filter>
            <mat-option *ngFor="let currency of currenciesFiltered | async" [value]="currency.symbol" class="currency-option">
                <p class="currency-text">
                    <img class="currency-flag" width="30" height="30" [src]="currency.flag" [alt]="currency.country"> {{ currency.country }}
                </p>
                <span class="currency-symbol">{{ currency.symbol }}</span>
            </mat-option>
        </mat-select>
    </mat-form-field>

</form>