<div id="root" class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">

    <!-- IMAGE -->
    <div class="relative hidden md:flex md:h-full flex-auto items-center justify-center h-full p-16 lg:px-28 overflow-hidden">
        <h1>OK</h1>
    </div>

    <div class="md:flex md:justify-end w-full sm:w-auto md:h-full py-8 px-4 sm:p-12 md:p-16 md:pt-24 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-100 sm:w-100 mx-auto sm:mx-0">
            <form [formGroup]="settingsForm">

                <!-- EMAIL -->
                <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                    <mat-label>Email address</mat-label>
                    <input 
                        matInput 
                        type="text"
                        name="email"
                        formControlName="email" 
                        required>
                </mat-form-field>
                <!-- /EMAIL -->

                <!-- DISPLAY NAME -->
                <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                    <mat-label>Display name</mat-label>
                    <input 
                        matInput 
                        type="text"
                        name="displayName"
                        formControlName="displayName" 
                        required>
                </mat-form-field>
                <!-- /DISPLAY NAME -->

                <!-- CURRENCY -->
                <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                    <mat-label>Currency</mat-label>
                    <mat-select name="currency" formControlName="currency" required>
                        <mat-select-filter
                            placeholder="Buscar"
                            (searchValueOutput)="onFilterCurrency($event)"
                            #currenciesFilter>
                        </mat-select-filter>
                        <mat-option *ngFor="let currency of currenciesFiltered | async" [value]="currency.symbol" class="currency-option">
                            <p class="currency-text">
                                <img class="currency-flag" width="30" height="30" [src]="currency.flag" [alt]="currency.country"> {{ currency.country }}
                            </p>
                            <span class="currency-symbol">{{ currency.symbol }}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- /CURRENCY -->

                <!-- CURRENCY -->
                <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                    <mat-label>Language</mat-label>
                    <mat-select name="language" formControlName="language" required>
                        <mat-option *ngFor="let language of languages" [value]="language.lang" class="currency-option">
                           {{ language.country }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- /CURRENCY -->

            </form>
        </div>
    </div>

</div>