<div id="root" class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">

    <!-- BACKGROUND -->
    <div class="relative hidden md:flex md:h-full flex-auto items-center justify-center h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-r">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="115" cx="196" cy="23"></circle>
                <circle r="170" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- Dots -->
        <svg class="absolute -top-16 -right-16 text-gray-700" viewBox="0 0 220 192" width="220" height="192"
            fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
                    patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div>Welcome to</div>
                <div>our community</div>
            </div>
            <div class="">
                <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_jf5tjpqj.json"  background="#1E293B"  speed="1"  style="width: 500px; height: 500px;"  loop  autoplay></lottie-player>
            </div>
        </div>
    </div>
    <!-- /BACKGROUND -->

    <!-- FORM  -->
    <div class="md:flex md:justify-end w-full sm:w-auto md:h-full py-8 px-4 sm:p-12 md:p-16 md:pt-24 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">

        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">

            <div class="mb-8">
                <!-- Alert -->
                <fuse-alert 
                    class="mt-8 -mb-4" 
                    *ngIf="showAlert" 
                    [appearance]="alert.alertAppareance" 
                    [type]="alert.alertType"
                    [dismissible]="alert.dismissible"
                    [dismissed]="alert.dismissed">
                {{ alert.message }}
                </fuse-alert>
            </div>

            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.svg">
            </div>
            
            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Sign up</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Already have an account?</div>
                <a class="ml-1 text-primary hover:underline" [routerLink]="['/pages/authentication/sign-in']">Sign in</a>
            </div>

            <!-- Sign Up form -->
            <form class="mt-8" [formGroup]="registerForm" (ngSubmit)="onRegister()">

                <!-- First name field -->
                <mat-form-field class="w-full">
                    <mat-label>First name</mat-label>
                    <input id="firstName" matInput formControlName="name">
                    <mat-error class="text-red-600" *ngIf="f.name.hasError('required')">First name is required</mat-error>
                    <mat-error class="text-red-600" *ngIf="f.name.hasError('space')">Space not valid</mat-error>
                    <mat-error class="text-red-600" *ngIf="f.name.hasError('doubleSpace')">Double spaces not allowed</mat-error>
                </mat-form-field>

                <!-- Last name field -->
                <mat-form-field class="w-full">
                    <mat-label>Last name</mat-label>
                    <input id="lastName" matInput formControlName="lastName">
                    <mat-error class="text-red-600" *ngIf="f.lastName.hasError('required')">Last name is required</mat-error>
                    <mat-error class="text-red-600" *ngIf="f.lastName.hasError('space')">Space not valid</mat-error>
                    <mat-error class="text-red-600" *ngIf="f.lastName.hasError('doubleSpace')">Double spaces not allowed</mat-error>
                </mat-form-field>

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input id="email" matInput formControlName="email">
                    <mat-error class="text-red-600" *ngIf="f.email.hasError('required')">Email is required</mat-error>
                    <mat-error class="text-red-600" *ngIf="f.email.hasError('email')">Email not valid</mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input 
                    id="password" 
                    matInput 
                    type="password" 
                    formControlName="password">
                    <mat-error class="text-red-600" *ngIf="f.password.hasError('required')">Password is required</mat-error>
                    <mat-error class="text-red-600" *ngIf="f.password.hasError('pattern')">Password not valid</mat-error>
                </mat-form-field>

                <!-- Confirm passowrd -->
                <mat-form-field class="w-full">
                    <mat-label>Confirm password</mat-label>
                    <input 
                    id="passwordMatch" 
                    matInput 
                    type="password" 
                    formControlName="passwordMatch"
                    #passwordMatchControl>
                    <button 
                        mat-icon-button 
                        type="button"
                        (click)="passwordMatchControl.type === 'password' ? passwordMatchControl.type = 'text' : passwordMatchControl.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordMatchControl.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"
                        >
                        </mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordMatchControl.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"
                        >
                        </mat-icon>
                    </button>
                    <mat-error class="text-red-600" *ngIf="f.passwordMatch.hasError('required')">Password is required</mat-error>
                    <mat-error class="text-red-600" *ngIf="f.passwordMatch.hasError('mustMatch')">Passwords doesn't match</mat-error>
                </mat-form-field>

                <!-- ToS and PP -->
                <div class="inline-flex items-end w-full mt-1.5">
                    <mat-checkbox
                        checked="true" 
                        formControlName="terms">
                            <span>I agree to the</span>
                            <a class="ml-1 text-primary hover:underline" >Terms of Service </a>
                            <span>and</span>
                            <a class="ml-1 text-primary hover:underline">Privacy Policy</a>
                            <mat-error class="text-red-600" *ngIf="f.terms.invalid && f.terms.touched">Terms required</mat-error>
                        </mat-checkbox>
                </div>

                <!-- Submit button -->
                <button type="submit" class="fuse-mat-button-large w-full mt-6" mat-flat-button>
                    <span *ngIf="!loading">Create account</span>
                    <mat-progress-spinner *ngIf="loading" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>

            </form>
        </div>
    </div>
    <!-- /FORM  -->

</div>