#root {
    .md\:h-full {
        height: 100vh !important;
    }
    
    .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: var(--fuse-primary);
    }

    .fuse-mat-button-large {
        background-color: var(--fuse-primary);
        color: white;
    }
}