.mat-dialog-container {
    background-color: white;
}

.fuse-confirmation-dialog-panel {
    @screen md {
        @apply w-128;
    }

    .mat-dialog-container {
        padding: 0 !important;
    }
}

.authenticator {
    max-height: 220px !important;
    object-fit: contain;
}

.next {
    margin-top: 10px;
}

.getit {
    margin-top: 10px;
    max-height: 42px;
    object-fit: contain;
}

.button {
    background-color: #0367A6;
    color: white;
}

.img {
    object-fit: none !important;
}